<html>
    <head>
        <title>HACKOPARDY</title>
    </head>
    <body>
        <h2>ROOM CODE : {{ room_code }}</h2>
        <!-- <h2>ROOM NAME : hack36</h2> -->
        <table>
            <tr>
                <th>Serial</th>
                <th>Username</th>
            </tr>

            {% for room_user in room_users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ room_user.room_user }}</td>
            </tr>
            {% endfor %}
        </table>
        {% if username == room_host %}
            <input type="submit" value="Start">
        {% endif %}
    </body>
</html>