<html>
    <head>
        <title>HACKOPARDY</title>
    </head>
    <body>
        <h2>ROOM CODE : #24512</h2>
        <h2>ROOM NAME : hack36</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>User01(Host)</td>
                <td>Not Ready</td>
            </tr>
            <tr>
                <td>User02</td>
                <td>Not Ready</td>
            </tr>
            <tr>
                <td>User03</td>
                <td>Not Ready</td>
            </tr>
            <tr>
                <td>User04</td>
                <td>Not Ready</td>
            </tr>
        </table>

        <input type="submit" value="Ready">
        <input type="submit" value="Start">
    </body>
</html>